.untitled-landing {
  background-color: #282c34;
  min-height: 100vh;
  font-family: "Calibri";
}

.home-header {
  padding-top: 26vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.home-logo {
  background: url("../assets/logo.svg") no-repeat;
  width: 172px;
  height: 172px;
}

.home-title {
  color: white;
  font-size: 24px;
}
